Repository aroraenterprise/ed_services: changes, and which Jenkins stages are due for each by the changed paths.
All: Install dependencies, Deploy store, Deploy events, Deploy accounts

Install dependencies:
        steps {
          sh 'npm install'
        }
      

Deploy store:
            steps {
              sh 'npm run deploy-store'
            }
          

Deploy events:
            steps {
              sh 'npm run deploy-events'
            }
          

Deploy accounts:
            steps {
              sh 'npm run deploy-accounts'
            }
          

store: added required for charge and refund models
  store.yaml
Due: Install dependencies, Deploy store

update: store models updated
  store.yaml
Due: Install dependencies, Deploy store

added transaction endpoints to store
  store.yaml
Due: Install dependencies, Deploy store

added subscription endpoint
  store.yaml
Due: Install dependencies, Deploy store

added id into transaction/sub models
  store.yaml
Due: Install dependencies, Deploy store

add: refresh transaction to store
  store.yaml
Due: Install dependencies, Deploy store

fix: order item added is failed and added endpoint for subscription cancelation - store
  store.yaml
Due: Install dependencies, Deploy store

Fix: event models updated and route change for creating survey response
  events.yaml
Due: Install dependencies, Deploy events

event survey fix
  events.yaml
Due: Install dependencies, Deploy events

fixed store item update required fields
  store.yaml
Due: Install dependencies, Deploy store

add attendees to surey response
  events.yaml
Due: Install dependencies, Deploy events

fix-dropin
  events.yaml
Due: Install dependencies, Deploy events

fixed: updated kiosk
  events.yaml
Due: Install dependencies, Deploy events

added dropin id back to kiosk update
  events.yaml
Due: Install dependencies, Deploy events

fixed deactivation result
  events.yaml
Due: Install dependencies, Deploy events

updated pagination of events
  events.yaml
Due: Install dependencies, Deploy events

add market locations
  events.yaml
Due: Install dependencies, Deploy events

fix event address issue
  events.yaml
Due: Install dependencies, Deploy events

updated pagination
  accounts.yaml
  events.yaml
  store.yaml
Due: Install dependencies, Deploy store, Deploy events, Deploy accounts

fixed store empty cart response
  clients/package-ts.json
  store.yaml
Due: Install dependencies, Deploy store

fixed store empty cart response
  store.yaml
Due: Install dependencies, Deploy store

updated event and store services
  events.yaml
  store.yaml
Due: Install dependencies, Deploy store, Deploy events

added pace endpoints
  events.yaml
Due: Install dependencies, Deploy events

update event pace model
  events.yaml
Due: Install dependencies, Deploy events

fixed pace credit amount from integer to number
  events.yaml
Due: Install dependencies, Deploy events

remove pace details like credit amount and subject code from event
  events.yaml
Due: Install dependencies, Deploy events

updated version to 1.3.0
  CHANGELOG.md
  package.json
Due: none

fixed certificate id for create/delete attendee certificate endpoints
  .DS_Store
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

updated changelog to include breaking change with client event library
  CHANGELOG.md
Due: none

added npm link scripts
  CHANGELOG.md
  package.json
Due: none

added npm link scripts
  CHANGELOG.md
Due: none

updated attendee assign and remove certificate endpoints
  package.json
Due: none

added event reminder to creation in event model
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

updated module script to incorporate major and minor versioning
  CHANGELOG.md
  package.json
  update-module-ts.js
Due: none

updated changelog
  CHANGELOG.md
Due: none

added internal store api and updated change log
  .DS_Store
  store-internal.yaml
Due: none

updated internal store service
  .DS_Store
  store-internal.yaml
Due: none

update store internal operation id
  .DS_Store
  store-internal.yaml
Due: none

updated store yaml to fix order status update input body
  CHANGELOG.md
  store-internal.yaml
Due: none

Path conditions:
  Install dependencies: ((any of: store.yaml) or (any of: events.yaml)) or (any of: accounts.yaml)
  Deploy store: any of: store.yaml
  Deploy events: any of: events.yaml
  Deploy accounts: any of: accounts.yaml
