Repository aroraenterprise/ed_services: changes, and which Jenkins stages are due for each by the changed paths.
All: Install dependencies, Deploy store, Deploy events, Deploy accounts

Install dependencies:
        steps {
          sh 'npm install'
        }
      

Deploy store:
            steps {
              sh 'npm run deploy-store'
            }
          

Deploy events:
            steps {
              sh 'npm run deploy-events'
            }
          

Deploy accounts:
            steps {
              sh 'npm run deploy-accounts'
            }
          

updated changelog
  CHANGELOG.md
  update-module-ts.js
Due: none

added user files endpoint to account
  CHANGELOG.md
  accounts.yaml
Due: Install dependencies, Deploy accounts

added unsplash endpoints to accounts
  CHANGELOG.md
  accounts.yaml
  package.json
Due: Install dependencies, Deploy accounts

added file signature endpoint
  CHANGELOG.md
  accounts.yaml
Due: Install dependencies, Deploy accounts

improved unsplash and imagekit endpoints
  CHANGELOG.md
  accounts.yaml
Due: Install dependencies, Deploy accounts

added image new format to events
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added image to account profile
  CHANGELOG.md
  accounts.yaml
Due: Install dependencies, Deploy accounts

added image to account profile
  accounts.yaml
Due: Install dependencies, Deploy accounts

added accounts-internal
  .DS_Store
  CHANGELOG.md
  accounts-internal.yaml
Due: none

updated changelog
  .DS_Store
  CHANGELOG.md
Due: none

updated events for faqs and description features
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

updated events for faqs and description features
  events.yaml
Due: Install dependencies, Deploy events

added endpoint for event facet search
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added query inputs to search
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

location fixes for events
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

fixed types for search query params
  events.yaml
Due: Install dependencies, Deploy events

removed mulitple 10 requirement from events yaml
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added filters for facet serch
  CHANGELOG.md
  accounts.yaml
  events.yaml
  store.yaml
Due: Install dependencies, Deploy store, Deploy events, Deploy accounts

updated reminders for events
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added images to dropin for events
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added fix for survey fields in dropins
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

fixed survey id in eventdropinticket
  events.yaml
Due: Install dependencies, Deploy events

added endpoints for importing tickets to accounts
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

updated module number
  update-module-ts.js
Due: none

updated changelog
  CHANGELOG.md
Due: none

added listing events for user endpoint
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

removed unused endpoints
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added fix for store internal
  CHANGELOG.md
  store-internal.yaml
Due: none

fixed changelog
  CHANGELOG.md
Due: none

updated security defs for accounts and events
  .DS_Store
  CHANGELOG.md
  accounts.yaml
  events.yaml
Due: Install dependencies, Deploy events, Deploy accounts

added store endpoints to work with optional auth for exchange rates
  .DS_Store
  CHANGELOG.md
  accounts.yaml
  events.yaml
  store.yaml
Due: Install dependencies, Deploy store, Deploy events, Deploy accounts

Path conditions:
  Install dependencies: ((any of: store.yaml) or (any of: events.yaml)) or (any of: accounts.yaml)
  Deploy store: any of: store.yaml
  Deploy events: any of: events.yaml
  Deploy accounts: any of: accounts.yaml
