Repository aroraenterprise/ed_services: changes, and which Jenkins stages are due for each by the changed paths.
All: Install dependencies, Deploy store, Deploy events, Deploy accounts

Install dependencies:
        steps {
          sh 'npm install'
        }
      

Deploy store:
            steps {
              sh 'npm run deploy-store'
            }
          

Deploy events:
            steps {
              sh 'npm run deploy-events'
            }
          

Deploy accounts:
            steps {
              sh 'npm run deploy-accounts'
            }
          

updated changelog
  CHANGELOG.md
Due: none

added isDeleted attribute
  .DS_Store
  CHANGELOG.md
  accounts.yaml
  events.yaml
  store.yaml
Due: Install dependencies, Deploy store, Deploy events, Deploy accounts

added events internal
  events-internal.yaml
Due: none

updated events internal
  events-internal.yaml
Due: none

updated event model and event ticket model for new attributes = isSoldOut and isDeactivated
  .DS_Store
  events.yaml
Due: Install dependencies, Deploy events

added fix for auto incrementing version number
  update-module-ts.js
Due: none

updated events internal for cron and pubsub tasks
  events-internal.yaml
Due: none

added tasks to events internal
  events-internal.yaml
Due: none

updated event-internal for ops
  events-internal.yaml
Due: none

updated store internal
  .DS_Store
  store-internal.yaml
Due: none

updated store service to add isDeactivated to store item and to item status of order item
  store.yaml
Due: Install dependencies, Deploy store

updated changelog
  CHANGELOG.md
  package.json
Due: none

updated events yaml for survey creation, deletion
  CHANGELOG.md
  events-internal.yaml
  events.yaml
  store-internal.yaml
Due: Install dependencies, Deploy events

updated events yaml for survey operations
  events.yaml
Due: Install dependencies, Deploy events

updated events yaml to fix survey create/update endpoints
  events.yaml
Due: Install dependencies, Deploy events

updated survey input to handle questions as an array
  events.yaml
Due: Install dependencies, Deploy events

updated store yaml for order item information and needs more info
  CHANGELOG.md
  package.json
  store.yaml
Due: Install dependencies, Deploy store

update store validation input
  package-lock.json
  package.json
  store.yaml
Due: Install dependencies, Deploy store

updated store internal for event survey update endpoint
  .DS_Store
  CHANGELOG.md
  store-internal.yaml
Due: none

events update
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

services updated to 1.3.4
  CHANGELOG.md
Due: none

remove npmrc from git
  .gitignore
  .npmrc
  CHANGELOG.md
  events.yaml
  update-module-ts.js
Due: Install dependencies, Deploy events

updated events for preview
  .gitignore
  .npmrc
  events.yaml
Due: Install dependencies, Deploy events

added certificate assignment rule endpoint
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added certificate templates
  CHANGELOG.md
  events-internal.yaml
  events.yaml
Due: Install dependencies, Deploy events

updated events
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

added auth signature
  CHANGELOG.md
  events.yaml
  store.yaml
Due: Install dependencies, Deploy store, Deploy events

updated events to have endpoints for user certificates
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

updated events to have endpoints for user certificates
  events.yaml
Due: Install dependencies, Deploy events

updated events to have ecredit model endpoints
  CHANGELOG.md
  events.yaml
Due: Install dependencies, Deploy events

updated events to have ecredit model endpoints
  events.yaml
Due: Install dependencies, Deploy events

added certificate list by organizer
  events.yaml
Due: Install dependencies, Deploy events

updated change log
  CHANGELOG.md
Due: none

added store export order item endpoint
  CHANGELOG.md
  store.yaml
Due: Install dependencies, Deploy store

added filter timestamp to order item export
  store.yaml
  update-module-ts.js
Due: Install dependencies, Deploy store

added filter timestamp to order items
  CHANGELOG.md
  store.yaml
Due: Install dependencies, Deploy store

update list members endpoint for store
  CHANGELOG.md
  store.yaml
Due: Install dependencies, Deploy store

Path conditions:
  Install dependencies: ((any of: store.yaml) or (any of: events.yaml)) or (any of: accounts.yaml)
  Deploy store: any of: store.yaml
  Deploy events: any of: events.yaml
  Deploy accounts: any of: accounts.yaml
